.header {
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.header__logo {
  display: flex;
  align-items: center;
  color: #ff9f00;
  margin: 0 25px;
}

.header__logoimage {
  margin-right: 10px;
}
.header__logotitle {
  color: white;
  border: 0;
  text-decoration: none;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  margin: 0 10px;
}
.header__serachinput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
}
.header__searchicon {
  color: gray;
  padding: 5px;
  background-color: #ff9f00;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav__item {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.nav__item__lineone {
  font-size: 10px;
}

.nav__item__linetwo {
  font-size: 13px;
  font-weight: 800;
}

.nav__basketcount {
  text-align: center;
}
